*.directory
*qmakepluginstubs*
*_dll.mmp
*_lib.mmp
*.def
*.prl
*_installer.pkg
*_stub.pkg
*_template.pkg
*-armv5.pkg*
*.sis
*_dll.mmp
*_exe.mmp
*Makefile
*bld.inf
*.loc
*.rss
*.pro.user
*.make.cache
*moc/*
*rcc/*
3rdParty-build*
