Source: getmewheels2
Section: x11
Priority: optional
Maintainer: Michael Zanetti <michael_zanetti@gmx.net>
Build-Depends: debhelper (>= 9.0.0),
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtlocation5-dev,
               libgles2-mesa-dev,
Standards-Version: 3.9.3

Package: getmewheels2
Architecture: any
Depends: ${misc:Depends},libqt5webkit5-qmlwebkitplugin,qtdeclarative5-localstorage-plugin,qtdeclarative5-particles-plugin,qtdeclarative5-qtlocation-plugin,qtdeclarative5-qtquick2-plugin,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,qtdeclarative5-window-plugin,qtdeclarative5-xmllistmodel-plugin,${shlibs:Depends},ubuntu-ui-toolkit-theme,qmlscene
Description: An application to blabla
  An application to blabla
