[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=GetMeWheels
Exec=./getmewheels2 $@
Icon=getmewheels2.svg
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Ubuntu-Touch=true
